@font-face {
  font-family: brightsome;
  src: url(BrightsomeFreePersonalUse.otf);
}

body {
  background-color: #fff6f5;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

/*My Skill section coded using CSS flex*/

.container {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 41% 18% 41%;
  grid-template-rows: [row1-start] 274px [row2-start] 63px [row3-start] 550px [row4-start] 471px [row5-start] 405px [row6-start] 470px [row7-start] 682px [row8-start] 405px [row9-start] 477px [row10-start] 402px [row11-start] 183px [row11-end];
}

.top-line img {
  width: 300px;
  height: 300px;
}

.columns1_2 {
  grid-column: 1 / span 2;
}

.columns2_3 {
  grid-column: 2 / span 2;
}

.columns1_2_3 {
  grid-column: 1 / span 3;
}

.column3 {
  grid-column: 3 / span 1;
}

.title {
  text-align: center;
  position: relative;
}

.top_line {
  display: inline-block;
  font-family: brightsome;
  font-size: 72px;
  color: #596a2f;
  margin-top: 90px;
  position: relative;
}

.top_line img {
  display: inline-block;
  position: absolute;
  z-index: -2;
  top: -80px;
  left: -95px;
}

.tag-line {
  font-size: 16px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: black;
}

p,
ol {
  font-size: 24px;
}

ol {
  display: inline-block;
  text-align: left;
}

h1 {
  font-family: Brightsome, Arial, sans-serif;
}

nav a {
  color: white;
  font-weight: bold;
}

ul {
  list-style: none;
  background-color: #849c46;
  display: flex;
  margin: 0;
  height: 100%;
  justify-content: center;
  padding: 0;
}

li {
  position: relative;
}

li a {
  text-decoration: none;
  padding: 23px 27px;
  display: inline-block;
  align-content: flex-end;
}

.skills_intro {
  line-height: 1.5;
  text-align: center;
}

/*.relative_parent {
  position: relative;
}

.absolute_center_child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}*/

.skills_intro {
  margin: 45px 0;
  padding: 45px 35px;
  position: relative;
  line-height: 1.5;
  text-align: center;
}

.skills_inner {
  text-align: left;
  display: inline-block;
}

.skills_intro p {
  display: inline-block;
  text-align: left;
}

.images {
  text-align: center;
}

.images_inner {
  display: inline-block;
  width: 480px;
  text-align: left;
}

.sister_friend img {
  width: 223.22px;
  height: 283px;
}

.evelyn img {
  width: 199px;
  height: 308px;
}

.animal_lover img {
  width: 158px;
  height: 210px;
}

figure {
  display: inline-block;
}

.evelyn,
.animal_lover {
  position: absolute;
}

.evelyn {
  transform: translate(160px, -200px);
}

.animal_lover {
  transform: translate(-60px, 200px);
}

.sister_friend {
  position: relative;
  z-index: 2;
  margin: -10px;
}

figcaption {
  color: #849c46;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.box_left_research {
  background-color: #c0b633;
  text-align: center;
  padding: 100px 0;
  margin: 0;
}

.box_left_research img {
  width: 231px;
  height: 218px;
}

.userResearch {
  background-color: #596a2f;
  padding: 80px 60px;
  line-height: 1.5;
  text-align: center;
  color: white;
}

.userResearch p {
  display: inline-block;
  text-align: left;
  max-width: 900px;
}

.userResearch h2 {
  margin-bottom: 0;
}

.box_left_interviews img {
  width: 317px;
  height: 245px;
}

.box_left_interviews {
  background-color: #f2b9ac;
  text-align: center;
  padding: 70px 0;
  margin: 0;
}

.qualitativeInterviews {
  background-color: #f2b9ac;
  text-align: center;
  padding: 80px 60px;
  line-height: 1.5;
}

.qualitativeInterviews p {
  display: inline-block;
  text-align: left;
  max-width: 900px;
}

.qualitativeInterviews h2 {
  margin-bottom: 0;
}

.userEmpathy {
  background-color: #596a2f;
  text-align: center;
  padding: 80px 60px;
  line-height: 1.5;
  color: white;
}

.userEmpathy p {
  display: inline-block;
  text-align: left;
  max-width: 900px;
}

.userEmpathy h2 {
  margin-bottom: 0;
}

.box_right_empathy img {
  width: 263px;
  height: 233px;
}

.box_right_empathy {
  background-color: #c0b633;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 80px;
  margin: 0;
}

.favoriteTools {
  text-align: center;
  padding: 80px 50px;
  line-height: 1.5;
}

.favoriteTools p {
  display: inline-block;
  text-align: left;
  max-width: 2000px;
}

.favoriteTools h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.imgReading img {
  width: 167px;
  height: 269px;
}

.imgReading {
  background-color: #c0b633;
  text-align: center;
  padding: 50px 0;
  margin: 0;
}

.Reading {
  background-color: #c0b633;
  text-align: center;
  padding: 80px 50px;
  line-height: 1.5;
}

.Reading p {
  display: inline-block;
  text-align: left;
  max-width: 900px;
}

.Reading h2 {
  margin-bottom: 0;
}

.Gardening {
  text-align: center;
  padding: 80px 50px;
  line-height: 1.5;
}

.Gardening p {
  display: inline-block;
  text-align: left;
  max-width: 900px;
}

.Gardening h2 {
  margin-bottom: 0;
  margin-top: 30px;
}

.imgGardening img {
  max-width: 501px;
  max-height: 288px;
}

.imgGardening {
  text-align: center;
  padding-top: 80px;
  margin: 0;
}

.imgOutdoors img {
  max-width: 425px;
  max-height: 244px;
}

.imgOutdoors {
  background-color: #f2b9ac;
  text-align: center;
  padding: 50px 0;
  margin: 0;
}

.Outdoors {
  background-color: #f2b9ac;
  text-align: center;
  padding: 80px 50px;
  line-height: 1.5;
}

.Outdoors p {
  display: inline-block;
  text-align: left;
  max-width: 900px;
}

.Outdoors h2 {
  margin-bottom: 0;
}

footer {
  background-color: #849c46;
  display: flex;
  /*position: relative;*/
}

footer img {
  width: 32px;
  height: 32px;
}

table {
  margin: auto;
}

td {
  padding: 15px 20px;
}

td * {
  vertical-align: middle;
}

.copyRight {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 12px;
}

.letsConnect {
  grid-column: 2 / 3;
  text-align: center;
  color: #596a2f;
}

.letsConnect * {
  display: inline-block;
  vertical-align: middle;
}

.profile img {
  width: 136 px;
  height: 136px;
}

.mobile_button {
  display: none;
}

@media only screen and (max-width: 992px) {
  .container {
    display: block;
    position: relative;
  }

  .title {
    line-height: 1;
  }

  .tag-line {
    padding-top: 15px;
  }

  .menu {
    display: none;
    position: absolute;
    right: 15px;
    top: 57px;
    background: transparent;
  }

  .menu li {
    text-align: center;
    background: #849c46;
  }

  .empty2 {
    display: none;
  }

  .empty3 {
    display: none;
  }

  .images {
    padding-bottom: 40px;
  }

  .images_inner {
    width: initial;
  }

  .evelyn,
  .animal_lover {
    display: none;
  }

  .mobile_button {
    display: inline;
    position: absolute;
    right: 15px;
    top: 15px;
    height: 36px;
    width: 36px;
  }

  .skills_intro {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 15px 80px;
  }

  .box_left_research {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .userResearch {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .box_left_interviews {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .qualitativeInterviews {
    padding-top: 15px;
    padding-bottom: 25px;
  }

  .userEmpathy {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .box_right_empathy {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .favoriteTools {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .imgReading {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .Reading {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .Gardening {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .imgGardening {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .imgOutdoors {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .Outdoors {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  footer td:nth-child(1) {
    width: 28%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
    position: relative;
  }

  .top_line img {
    display: none;
  }

  .title {
    line-height: 1;
  }

  .tag-line {
    padding-top: 15px;
  }

  .menu {
    display: none;
    position: absolute;
    right: 15px;
    top: 57px;
    background: transparent;
  }

  .menu li {
    text-align: center;
    background: #849c46;
  }

  .empty2 {
    display: none;
  }

  .empty3 {
    display: none;
  }

  .skills_intro {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 15px 90px;
  }

  .images_inner {
    width: initial;
  }

  .evelyn,
  .animal_lover {
    display: none;
  }

  .mobile_button {
    display: inline;
    position: absolute;
    right: 15px;
    top: 15px;
    height: 36px;
    width: 36px;
  }

  /*.skills_inner {
    padding 15px 30px;
  }*/

  .userResearch {
    padding-top: 30px;
  }

  .imgGardening {
    display: none;
  }

  footer td:nth-child(1) {
    width: 28%;
  }
}
